<div id="createTaskModal">
    <form action="/tasks" method="POST" >
        <label for="title">Titre: *</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
        <label for="deadline">Deadline: *</label>
        <input type="date" id="deadline" name="deadline" required>
        <button type="submit">Ajouter une tâche</button>
        <button type="button" onclick="document.getElementById('createTaskModal').style.display='none'">Cancel</button>
    </form>
</div>
