<%- include('components/header', { title: 'All Tasks' }) %>

<main id="indexPage">
    <h1>Bienvenue sur la TodoList</h1>

    <p>Les fonctionnalités disponibles: </p>

    <div id="taskRing" >
        <div class="floating-btn" id="viewTasksBtn"><a href="/tasks">Voir mes tâches</a></div>
        <div class="floating-btn" id="aboutBtn"><a href="/about">À propos</a></div>
        <div class="floating-btn" id="addTaskBtn" onclick="toggleModal(true)">Ajouter une tâche</div>
    </div>



    <div id="createTaskModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="toggleModal(false)">&times;</span>
            <%- include('partials/create-task-modal') %>
        </div>
    </div>
</main>

<%- include('components/footer') %>