<%- include('components/header', { title: 'All Tasks' }) %>

<main style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <h1>404 Not Found</h1>
    <pre>
        ⠀⣰⠐⢲⠉⠉⢻⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡟⠙⡄⠀⡇⠀⢸⡀⠘⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢱⠀⢳⡀⠹⡆⠈⢧⠀⠸⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠘⣦⣀⣓⣀⣙⣂⣈⣧⠀⢸⡟⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢸⡇⠀⢀⣀⡠⠤⠤⣤⡴⡏⠀⢸⣃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠘⣧⡀⠉⠁⠀⣠⠞⠉⠁⠙⠀⠈⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠈⣽⡶⢤⠘⣧⠀⠀⠀⠀⢀⡞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣷⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣴⠃⠹⣄⠀⠈⠙⠒⢲⣾⣍⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢻⣿⣿⣿⣿⣿⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣿⠀⠀⠈⠓⠶⠶⠖⠋⠀⠙⣧⣀⣤⠖⠋⠉⠙⠳⡀⠀⠀⠀⣰⣇⣠⣻⣷⡏⠙⠉⠀⣨⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡿⣖⠒⠦⣄⠀⠀⠹⣦⣀⣀⣿⠉⠭⠷⡆⠠⢴⣒⠂⢹⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡼⠁⠙⣆⠀⠈⢳⡄⠀⢸⡀⢹⣿⠀⠀⣸⡁⠀⠀⠈⠀⢸⣫⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠈⠻⣦⡀⠀⠀⠀⠀⠀⠀⠈⠁⠀⠀⠸⠆⠀⠀⢹⡄⠀⡇⢀⡇⠀⢠⠬⣈⣀⠀⠀⠀⢀⣻⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⠻⣧⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⡇⢸⡀⠀⠈⠉⠒⠉⠁⠀⠀⡞⣏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠘⣷⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣀⡇⢈⣧⠀⠀⠀⠀⠀⠀⠀⣴⠃⣿⠉⠉⠙⣆⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⠴⠖⠛⠉⠉⠙⠲⣤⡀⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠻⣦⡀⠀⠀⠀⠀⢠⠀⠀⠀⠀⠀⠸⣿⠀⣸⠉⠣⢤⣧⣀⣀⡴⠋⠁⡔⣟⣧⠀⠀⢸⠀⠀⢹⣤⣀⠀⠀⠀⠀⠀⣠⡴⠚⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢦⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⠶⢤⣀⣀⢸⠀⠀⠀⠀⠀⠀⠉⠺⣃⠀⠀⢰⠀⠀⠀⠀⠀⣼⠀⠘⢸⠀⠀⡞⠀⢀⡞⠀⠈⠳⣄⣠⠖⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠳
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡄⠀⠀⠈⠛⡆⠀⠀⠀⠀⠀⠀⠀⠈⠓⢤⣈⢷⠀⠀⠀⡼⠁⠀⢀⡟⢀⡾⠀⡠⠋⠀⠀⠀⠀⣿⢀⣀⣠⠤⠤⢴⠖⠛⠛⠉⠉⠁⠀⠀⠀⠀⠀⠈⠉
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣧⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⣀⣀⡀⠈⠛⢧⣄⡞⠀⠀⢀⡞⣠⢎⣴⠊⠁⠀⠀⠀⠀⠀⡿⠉⠉⠀⠀⠀⠸⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡄⠀⠀⠀⢧⠀⠀⢀⣠⢴⣒⠿⣗⣢⠍⠓⠶⢤⣀⡉⠓⠶⠾⠭⠟⠉⠀⠀⠀⠀⡄⠀⣠⡾⠁⠀⠀⠀⠀⠀⠀⠄⠙⠳⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣄⠀⠀⢸⡄⠀⠘⢧⠻⠖⠋⢁⡠⠐⠒⠒⠢⢬⡉⢻⣒⠤⣄⠀⠀⠀⠀⠀⣼⠷⠛⢧⣄⣀⣤⠴⠚⣗⡦⣤⡀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢧⡀⠀⠻⣄⠀⠀⠱⣄⠀⠈⠓⠦⠤⣀⣀⠀⠈⢦⠈⣠⣾⡀⠀⠀⢀⡾⠁⠀⢀⠞⠁⠀⠀⢀⣦⡈⣳⢼⡇⠀⠀⠀⡷⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢮⡀⠈⠁⠤⣀⡈⠳⣜⠿⠓⣒⠀⠤⢉⡛⠣⣬⣽⣣⠷⢀⣴⠟⠒⠶⠤⢼⣀⠙⠒⣛⣽⠿⠵⣿⠟⠁⠂⠀⣰⠇⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢦⡀⠀⠈⠉⠓⠮⢷⡠⡬⣶⡒⣺⣥⢔⣛⣩⣤⣿⣿⣦⡆⠀⠀⠀⠀⠈⠉⠉⠉⠛⠛⠛⠋⠀⠀⢀⣴⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡦⢄⣀⠀⠀⠀⠙⠛⠛⠉⢉⣉⢽⣿⣠⡿⠟⠋⠁⠙⢶⡒⠛⠓⠲⠦⣤⣀⣀⠀⠀⠀⣀⡴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣶⣬⣻⣷⡂⠐⣖⠈⣉⣷⣤⣾⡿⠋⠀⠀⠀⠀⠀⠈⠻⣄⠀⠀⠀⠀⠈⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣦⡀⠈⠉⠉⠉⠉⠉⠉⢻⡷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢦⡀⠀⠀⠀⠀⠀⠀⢷⠙⢦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠓⢦⣄⠀⠰⡄⠈⣦⠀⠻⣄⠀⠀⠀⠀⠀⠀⠀⠀⢻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣎⢙⡒⢷⣤⣼⣆⠐⣿⣦⠀⠀⠀⠀⠀⠀⠀⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⣽⣹⡻⠀⠘⠷⡹⡎⠳⡀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⣇⠀⢷⣻⡀⠘⠳⣤⣄⣀⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠿⡆⠈⢇⢧⠀⠀⢻⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢦⣸⡄⠳⣄⢈⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </pre>

    <a href="/">Revenir à la page d'accueil</a>

</main>

<%- include('components/footer') %>